:host {
}

.loader {
  display: flex;
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, .2);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


$weight: 500;
.processString {
  position: absolute;
  font-weight: $weight;
  color: white;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

.row_color {

  &__castle {
    color: midnightblue;
    font-weight: $weight;
  }
  &__dungeon {
    color: mediumpurple;//rebeccapurple
    font-weight: $weight;
  }
  &__necropolis {
    color: dimgray;
    font-weight: $weight;
  }
  &__tower {
    color: cornflowerblue;
    font-weight: $weight;
  }
  &__rampart {
    color: limegreen;
    font-weight: $weight;
  }
  &__fortress {
    color: teal;
    font-weight: $weight;
  }
  &__inferno {
    color: red;
    font-weight: $weight;
  }
  &__neutral {
    color: goldenrod;
    font-weight: $weight;
  }

  &__bronze {
    color: saddlebrown;
    font-weight: $weight;
  }
  &__silver {
    color: silver;
    font-weight: $weight;
  }
  &__gold {
    color: goldenrod;
    font-weight: $weight;
  }
  &__azure {
    color: #069AF3;
    font-weight: $weight;
  }
}

.tile-container {
  margin-top: 60px;
  padding: 15px;
}

.controls {
  position: fixed;
  padding: 10px;
  top: 0;
  width: 100%;
  z-index: 100;
  background: white;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));

  display: flex;

  textarea {
    height: 24px;
    width: 200px;
    margin-right: 10px;
  }
}

.filter {
  margin-bottom: 1rem;
  .title {
    font-weight: bold;
  }
  .mat-mdc-slide-toggle {
    margin-right: 1rem !important;
  }
}

.simulate {
  mat-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  mat-card-header {
    font-weight: 500;
    padding-bottom: 8px;
    display: inline-block;
  }

  mat-card {
    padding: 4px 8px;
  }

  mat-card-content {
    padding: 0;
  }
}

.conditional_simulations {
  .vs {
    font-weight: 500;
    margin: 0 10px;
  }

  button {
    margin-left: 20px;
  }
}


