<div class="loader" *ngIf="isGenerating">
  <mat-progress-spinner
  [mode]="'determinate'"
  [value]="process"
  ></mat-progress-spinner>
  <div class="processString" *ngIf="processData.total !== 0">
    <div>Simulated matches</div>
    <div>{{processData.current}} / {{processData.total}}</div>
  </div>
</div>

<!--<form class="example-form">-->
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>Number</mat-label>-->
<!--    <input type="text"-->
<!--           placeholder="Pick one"-->
<!--           aria-label="Number"-->
<!--           matInput-->
<!--           [formControl]="myControl"-->
<!--           [matAutocomplete]="auto">-->
<!--    <mat-autocomplete #auto="matAutocomplete">-->
<!--      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
<!--        {{option}}-->
<!--      </mat-option>-->
<!--    </mat-autocomplete>-->
<!--  </mat-form-field>-->
<!--</form>-->

<mat-expansion-panel [expanded]="menuExpanded" (expandedChange)="menuToggled($event)">
  <mat-expansion-panel-header>
    Menu
  </mat-expansion-panel-header>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      Simulation Options
    </mat-expansion-panel-header>
    <div class="menu filter">
      <div class="title">Faction</div>
      <mat-slide-toggle
        [id]="'Faction.Bronze'"
        [checked]="true"
        (change)="changeFilterSetting($event)"
      >Bronze</mat-slide-toggle>
      <mat-slide-toggle
        [id]="'Faction.Silver'"
        [checked]="true"
        (change)="changeFilterSetting($event)"
      >Silver</mat-slide-toggle>
      <mat-slide-toggle
        [id]="'Faction.Gold'"
        [checked]="true"
        (change)="changeFilterSetting($event)"
      >Gold</mat-slide-toggle>
    </div>
    <div class="menu filter">
      <div class="title">Neutral</div>
      <mat-slide-toggle
        [id]="'Neutral.Bronze'"
        [checked]="true"
        (change)="changeFilterSetting($event)"
      >Bronze</mat-slide-toggle>
      <mat-slide-toggle
        [id]="'Neutral.Silver'"
        [checked]="true"
        (change)="changeFilterSetting($event)"
      >Silver</mat-slide-toggle>
      <mat-slide-toggle
        [id]="'Neutral.Gold'"
        [checked]="true"
        (change)="changeFilterSetting($event)"
      >Gold</mat-slide-toggle>
      <mat-slide-toggle
        [id]="'Neutral.Azure'"
        [checked]="true"
        (change)="changeFilterSetting($event)"
      >Azure</mat-slide-toggle>
  </div>
    <div class="menu filter">
      <div class="title">Simulate using: </div>
      <mat-slide-toggle
        [id]="'Simulation.skills'"
        [checked]="true"
        (change)="changeFilterSetting($event)"
      >Unit skills</mat-slide-toggle>
      <mat-slide-toggle
        [id]="'Simulation.pack'"
        [checked]="true"
        (change)="changeFilterSetting($event)"
      >Upgraded units</mat-slide-toggle>
    </div>
    <div class="menu filter">
      <div class="title">Simulation iterations per match (lower is faster, higher is more precise)</div>
      <mat-slider discrete min="100" max="1000" step="100">
        <input matSliderThumb value="{{itterations}}" (valueChange)="setIterations($event)">
      </mat-slider>
      {{itterations}}
    </div>
  </mat-expansion-panel>
  <div class="simulate">
    <mat-card>
      <mat-card-header>Simulate: </mat-card-header>
      <mat-card-content>
        <button (click)="start()">Free for All</button>
        <button (click)="start('PvN')">Faction vs Neutrals</button>
        <button (click)="start('PvP')">Faction vs Faction</button>
      </mat-card-content>
    </mat-card>
  </div>
</mat-expansion-panel>


<mat-tab-group>
  <mat-tab label="Units">
    <table mat-table matSort  [dataSource]="sortedData" class="mat-elevation-z8" (matSortChange)="sortChangeUnits($event)">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Sort by name"> Name </th>
        <td mat-cell *matCellDef="let element" class="{{getRowColor(element.faction)}}"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="asAttacker">
        <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Sort by score">WR Atc </th>
        <td mat-cell *matCellDef="let element" class="{{getRowColor(element.faction)}}"> {{element.asAttacker}}% </td>
      </ng-container>

      <ng-container matColumnDef="asDefender">
        <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Sort by score">WR Def </th>
        <td mat-cell *matCellDef="let element" class="{{getRowColor(element.faction)}}"> {{element.asDefender}}% </td>
      </ng-container>

      <ng-container matColumnDef="score">
        <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Sort by score"> WR </th>
        <td mat-cell *matCellDef="let element" class="{{getRowColor(element.faction)}}"> {{element.score}}% </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="resourceEfficiency">
        <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Sort by resourceEfficiency"> Efficiency </th>
        <td mat-cell *matCellDef="let element" class="{{getRowColor(element.faction)}}"> {{element.resourceEfficiency}} </td>
      </ng-container>

      <ng-container matColumnDef="faction">
        <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Sort by resourceEfficiency"> Faction </th>
        <td mat-cell *matCellDef="let element" class="{{getRowColor(element.faction)}}"> {{element.faction}} </td>
      </ng-container>


      <ng-container matColumnDef="tier">
        <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Sort by resourceEfficiency"> Tier </th>
        <td mat-cell *matCellDef="let element" class="{{getRowColor(element.tier)}}"> {{element.tier}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Factions"> <table mat-table matSort  [dataSource]="factionDataSorted" class="mat-elevation-z8"  (matSortChange)="sortChangeFaction($event)">
    <!-- Name Column -->
    <ng-container matColumnDef="faction">
      <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Sort by name"> Faction </th>
      <td mat-cell *matCellDef="let element" class="{{getRowColor(element.faction)}}"> {{element.faction}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="Bronze">
      <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Sort by name" class="row_color__bronze"> Bronze Win rate </th>
      <td mat-cell *matCellDef="let element" class="{{getRowColor(element.faction)}}"> {{element.Bronze}}% </td>
    </ng-container>

    <ng-container matColumnDef="Silver">
      <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Sort by score" class="row_color__silver"> Silver  Win rate</th>
      <td mat-cell *matCellDef="let element" class="{{getRowColor(element.faction)}}"> {{element.Silver}}% </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Gold">
      <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Sort by resourceEfficiency" class="row_color__gold"> Gold  Win rate</th>
      <td mat-cell *matCellDef="let element" class="{{getRowColor(element.faction)}}"> {{element.Gold}}% </td>
    </ng-container>

    <ng-container matColumnDef="Total">
      <th mat-header-cell mat-sort-header *matHeaderCellDef sortActionDescription="Sort by resourceEfficiency"> Total </th>
      <td mat-cell *matCellDef="let element" class="{{getRowColor(element.faction)}}"> {{element.Total}}% </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsFaction"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsFaction;"></tr>
  </table>
  </mat-tab>
</mat-tab-group>


