*, *::before, *::after {
  box-sizing: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-option {
  color: black;
}

$primary: rgb(250,236,175);


button {
  background-color: white;
  border: 2px solid #777777;
  border-radius: 20px;
  margin-right: 10px;
  font-family: Roboto, serif;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &.warn {
    border-color: red;
    color: red;
  }

  &:hover {
    background-color: #eee;
  }
}

.material-icons.material-icons {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.mat-icon {
  font-size: 20px;
}

.mdc-tab__text-label {
  $icon-size: 18px;
  .material-icons.material-icons {
    height: $icon-size;
    width: $icon-size;
    margin-left: 0;
  }

  .mat-icon {
    font-size: $icon-size;
  }
}

.mat-column-gold, .mat-column-pack {
  border-right: 1px solid currentColor;
}
